body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}

.calculator {
    width: 400px;
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
    border: 8px solid rgba(0, 128, 128, 0.452);
    
    

}

.input{
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    padding: 0px 24px;
    font-size: 48px;
    background-color: rgb(88, 88, 88);
    margin: 8px;
    height: 90px;
    
}


.row-1, .row-2, .row-3, .row-4, .row-5{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    gap: 4px;

}

.buttons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex: 1;
    gap: 4px;
    padding: 4px;
}

.row-1 .button{
    background-color: #4BB3FD;
}

.button.operator{
    background-color: #B084CC;
}

.button.operator.active {
    background-color: #dba6fc;
}

.button.equals{
    background-color: #B084CC;
}
/*.buttons{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    gap: 4px;
    
}

.all-buttons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex: 1;
    gap: 4px;
}*/

.button{
    background-color: aquamarine;
    border-radius: 8px;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    
}

.button.zero{

    min-width: 49%;

}
